<div class="center jumbotron">
  <h1>Masher!</h1>

  <h2>
    Aquí puedes hacer tus propios MashUps
  </h2>

  <span>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
  </span>
  <span>
  <%= link_to "Log in!", user_path(User.find(1)), class: "btn btn-large btn-primary" %>
  </span>
</div>