<div class="source" id=<%= 'source-' + link.link_source_id.to_s %>>
	<div class="source-title">
		<%= image_tag(link.link_source.photo, alt: link.link_source.photo) %>
		<%= link_to link.title.titleize[0..200], link.link %>
	</div>
	<p><%= link.content %></p>
</div>