<%= link_to( new_mashup_path, {class: "mashup-thumbnail-ref"}) do %>
	<div class="mashup-thumbnail">
	    <h2>New Mashup!</h2>
	    <p>Make your own customized awesome Mash Up right now!</p>
    </div>
<% end %>