<%= link_to(mu) do %>
	<div class="col-sm-6 col-md-4 col-lg-2">
	<div class="mashup-thumbnail">
	    <h2><%= mu.name %></h2>
	    <strong>"<%= mu.parameters %>"</strong>
	    <p>Aqui se supone que va un thumbnail del mashup cuando vio por ultima vez o algo asi como informacion o lo que sea para identificarlo bien o si ha cambiado o algo</p>
	</div>
	</div>
<% end %>
