<div class="col-sm-6 col-md-4 col-lg-2">
    <h2><%= mu.name %></h2>
    <p>Aqui se supone que va un thumbnail del mashup cuando vio por ultima vez o algo asi como informacion o lo que sea para identificarlo bien o si ha cambiado o algo</p>
    <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
</div>