<%= link_to(mu, {class: "mashup-thumbnail-ref"}) do %>
	<div class="mashup-thumbnail">
	    <h2><%= mu.name %></h2>
	    <strong>"<%= mu.parameters %>"</strong>
	    <p>Aqui se supone que va un thumbnail del mashup cuando vio por ultima vez o algo asi como informacion o lo que sea para identificarlo bien o si ha cambiado o algo</p>
    </div>
<% end %>
