


/* mash-up */

.mashup-thumbnail {
  height: 200px;
  background-color: #fff;
  margin: 10px -5px 2px -5px;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #aaa;
}

.mashup-thumbnail h2 {
  width: 100%;
  word-break: break-all;
}

.mashup-thumbnail:hover {
  position: relative;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #999;
}

#sources div {
  display: inline;
  margin-left: 15px;
}

#sources input {
  margin-right: 5px;
}

.mashup-thumbnail-ref:hover {
  text-decoration: none;
}

.keyword-0 {
  font-size: 0.5em;
}

.keyword-1 {
  font-size: 1em;
}

.keyword-2 {
  font-size: 1.5em;
}

.keyword-3 {
  font-size: 2em;
}

.keyword-4 {
  font-size: 2.5em;
}

.keyword-5 {
  font-size: 3em;
}

.keyword-6 {
  font-size: 3.5em;
}

.keyword-7 {
  font-size: 4em;
}

.keyword-8 {
  font-size: 4.5em;
}

.keyword-9 {
  font-size: 5em;
}

.keyword-10 {
  font-size: 5.5em;
}

.keyword-11 {
  font-size: 6em;
}

.keyword-12 {
  font-size: 6.5em;
}

.keyword-13 {
  font-size: 7em;
}

.keyword-14 {
  font-size: 7.5em;
}

.keyword-15 {
  font-size: 8em;
}

.keyword-16 {
  font-size: 8.5em;
}

.keyword-17 {
  font-size: 9em;
}

.keyword-18 {
  font-size: 9.5em;
}

.keyword-19 {
  font-size: 10em;
}

.keyword-20 {
  font-size: 10.5em;
}

.keyword-21 {
  font-size: 11em;
}

.keyword-22 {
  font-size: 11.5em;
}